APP_NAME=Fursa
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fursa
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.smtp2go.com
MAIL_PORT=2525
MAIL_USERNAME=forsa@joinforsa.net
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="forsa@joinforsa.net"
MAIL_FROM_NAME="${APP_NAME}"

AUTHENTICATION_METHOD=OTP
OTP_OR_LINK_EXPIRY_TIME=30
FRONTEND_HOST=http://localhost:3000
BACKEND_HOST=http://localhost:8000
STORAGE_PATH=uploads

SOCIAL_AUTH_LINKEDIN_OAUTH2_KEY=
SOCIAL_AUTH_LINKEDIN_OAUTH2_SECRET=
LINKEDIN_REDIRECT_URI=
LINKEDIN_AUTH_URL=https://www.linkedin.com/oauth/v2/authorization
LINKEDIN_TOKEN_URL=https://www.linkedin.com/oauth/v2/accessToken
LINKEDIN_USERINFO_URL=https://api.linkedin.com/v2/userinfo
